 

  a{
    color:black;
    text-decoration: none;
  }
  .all{
    font-size:15px;
    float:left;
    padding-left:6%;
    flex:1;
    width:8%;
    
    color:#979797;
    font-weight:bolder;
  }
  .arrow{
    width:28px;
    z-index: 2;
    height:28px;
   position: absolute;
margin-left:2%;
  }
  .arrow-container{
    float:left;
  }
  .bix{
    width:auto;
    height:auto;
  }
  body{
    margin:0;
   font-family: Sans-Serif;
  }

  .border{
    width:90%;
  }
  .bottom {
    overflow:scroll;
    margin:0;
    width:100%;
    height:220px;
    position:fixed;
    background-color: grey;
    bottom:0;
  }
  
  
  .box{
    width:15px;
    height:18px;
  }
  .btn{
    width:auto;
    height:5px;
    float:left;
    
  }
  button{
    border:none;
    background-color: lightgrey;
    font-size:16px;
  }
  .cam{
    width:28px;
    height:28px;
    float:left:
    padding-left:89%;
    position:absolute;
  }
 .size{
   flex-wrap:wrap;
   width:100%;
overflow:scroll;
    height:100vh;
 }
  container{
    
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: space-around;
  
  }
  container2{
    height:auto;
    display:flex;
    flex-wrap:wrap;
    width:100%;
    
    text-align:center;
  }
  container3{
    height:auto;
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: space-evenly;
  text-align: center;
  }
  containers{
    display:flex;
    flex-wrap:wrap;
    width:100%;
  }
  .contains{
    padding:0;
    text-align: left;
    width:250px;
    height:auto;
    font-size:20px;
  }
  .contain{
    
    gap:0;
    width:100%;
    text-align: center;
    padding-top:50px;
    font-weight:heavy;
  } /*
  .down{
    width:12px;
    height:8px;
    
  } */
  content{
    justify-content: space-evenly;
    flex-wrap:wrap;
    overflow: hidden;
    width:100%;
    display:flex;
    height:auto;
  }
  .dd-content{
    
  }
  .dbtn{
   
    display: block;
         padding: 15px;
    font-weight:bolder;
    font-size:18px;
    color:black;
    border:none;
    background:white;
  }
  .ddbtn{
   
    display: block;
     padding: 15px;
    font-weight:bolder;
    font-size:18px;
    color:black;
    border:none;
    background:white;
  }
  .ddbtn:hover{
   
    font-size:20px;
    transition-duration: 3s;
    background: #903C56;
  }
  .dd{
    color: blue;
    float:left;
    flex:1;
    width:25px;
    height:25px;
  }
  .date{
    color:#3E3E3E;
    width:auto;
    text-align:center;
    border-radius:5px;
    font-size:14px;
  }
  .dot{
    font-size:10px;
    font-weight:bolder;
    float:left;
  }
  
  
 .e{
  
  font-family: Sans-Serif;
   font-size:55px;
   color:red ;
 }
 .ed{
   font-family: Sans-Serif;
   font-size:27.5px;
   color:red ;
 }
 .fle{
   flex:1;
 }
 .flex{
   height:auto;
   width:100%
   flex:1;
   color:#4975FF;
 }
 .footer:hover{
   z-index: 0;
 }
footer{
  z-index: 1;
   background-color: lightgrey;
   width:100%;
   position:fixed;
   bottom:0;
 } 
.g{
  font-family: Sans-Serif;
  font-size:65px;
   color: #4975FF;
}
.gd{
  font-family: Sans-Serif;
  font-size:33.5px;
   color: #4975FF;
}
.gimages{
  flex:1;
  transform:translateX(36%);
 flex-wrap:wrap;
  width:60%;
  
  text-align:center;
  align-content: center;
  justify-content: center;
}

.gg{
  
  font-family: Sans-Serif;
  font-size:58px;
   color:#4975FF;
} 
.ggd{
  font-family: Sans-Serif;
  font-size:29px;
   color:#4975FF;
}
.greet{
color:#3E3E3E;
  border-radius:20px;
 width:80px:
  height:55px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}
.hr{
  bottom:0;
  margin-left:35%;
  float:left;
  width:15%;
  height:1px;
  background:#4975FF;
}
.hrs{
  width:29px;
  height:1px;
  background:lightgrey;
}
.icon{
  width:20px;
  height:20px;
}
.img{
  color:blue;
  margin-left:40%;
}
.images{
  color:#4975FF;
  flex:1;
  
 padding-left:9%;
  font-weight:bolder;
  font-size:15px;
}

.input-container{
  text-align:center;
  margin-top:15px;
  position:relative;
  flex-wrap;
  display:flex;
  width:100%;
  text-align: center;
}

.input{
  text-align:center;
  border:1px solid #D6D6D6;
  border-radius: 45px;
  width:99%;
  height:40px;
}

.inputs{
  
  border:none;
  font-size:16px;
  font-weight:bolder;
  max-width:80%;
  height:45px;
  flex:1;
}
.l{
  font-family: Sans-Serif;
  font-size:55px;
   color:green ;
}
.ld{
  font-family: Sans-Serif;
  font-size:27.5px;
   color:green ;
}
.lens{
  text-align:center;
  align-content:center;
  justify-content:center; 
  margin-top:1% ;
  
  margin-left:3%;
  position:absolute;
  float:left;
  width:28px;
  height:28px;
}
.lenss{
  text-align: center; /*
  align-content: center;
  justify-content: center;*/
  
  flex:1;
  width:25px;
  height:25px;
}
.lenss-container{
  margin-top:2%; 
  text-align: center;
  align-content: center;
  justify-content: center;
  width:28px;
  height:28px;
} 
main{
  position:relative;
  z-index: 1;
 margin-left:2%;
  width:100%;
  min-height:auto;
  overflow: scroll;
  flex-wrap:wrap;
} 
  .main{
    width:100%;
  height :100vh;
  }
.nigeria{
  margin-left:3%;
}
.o{
  font-family: Sans-Serif;
  font-size:55px;
   color: red;
}
.od{
  font-family: Sans-Serif;
  font-size:27.5px;
   color: red;
}
.oo{
  font-family: Sans-Serif;
  font-size:55px;
   color: orange;
}
.ood{
  font-family: Sans-Serif;
  font-size:27.5px;
   color: orange;
}
.off{
 
  font-size:1px;
}
.offf{
  cursor: not-allowed;
}
.offer{
  width:auto;
  height:auto;
  border-radius:2px;
  text-align: center;
  color:black;
}
.pic{
  width:30px;
  height:30px;
  border-radius:9000px;
  float:right;
}
.search{
  flex:1;
  text-align:center;
  align-content:center;
  justify-content:center;
  overflow:hidden; 
  margin-top:1%; 
  padding-left:90%; 
  position:fixed;
  text-align:right;
  width:28px;
  height:28px;
}
.searchs {
  text-align: center;
  align-content: center;
  justify-content: center;
  flex:1;
  margin-top:1%;
  flex:1;
  width:20px;
  height:20px;
}
.searchs-container{
  text-align: center;
  align-content: center;
  justify-content: center;
  width:28px;
  height:28px;
}
.span-container{
  text-align: center;
}
.top{
 
  flex-wrap:wrap;
  width:100%;
  padding:10px;
} 
.trend{
  flex:1;
  width:50%;
  margin-left:4%;
}


   .lightbox {
         visibility: hidden; /* hides the lightbox */
         display: table; /* helps us center the lightbox-content */
         
         /* make the lightbox occupy the entire page */
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background:white; /* black with 0.7 opacity */
      }
      .lightbox:target {
         visibility: visible;
      }
      .lightbox-content {
      display:table-cell;
         
      }


      .dd {
         position: relative;
         display: inline-block;
      }
      .dd-btn {
       border:none;
      }
      .dd-content {
       
        color:black;
        top:0;
        margin:0;
        background:white;
        left:0;
    z-index: 2;
        float:left;
        opacity:1;
        text-align: left;
      -webkit-animation: slide 1.5s alternate-reverse ease-in-out 0s 1 backwards;
       position:fixed;
         display: none;
         width:250px;
        min-height:100%; /*
         box-shadow: 0 18px 36px rgba(0,0,0,0.30), 0 14px 11px rgba(0,0,0,0.22);  */
      }  
      .dd:hover > .dd-content {
        
         display: block;
      }
      .dd-content > a {
        
        font-family: Sans-Serif;
        font-weight:bolder;
        opacity:1;
        z-index: 2;
         display: block;
         padding: 15px;
         text-decoration: none;
        color:black;
         font-size:18px;
      }
      .dd-content > a:hover {
         font-weight:bolder;
        font-size:20px;
         color: white;
         background: #903C56;
         transition-duration: 3s;
      }
      
      
      @-webkit-keyframes slide {
  to{
  -ms-webkit-transform:translate(-1000px, 0px);
  -webkit-transform:translate(-1000px, 0px);
  transform:translate(-1000px, 0px);
}
}